@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
body {
    margin: 0;
}

.icon {
    display: inline-block;
    list-style: none;
    margin: 7px;
    background-color: #eeeeee;
    border-radius: 50%;
    padding: 4px 12px;
}

ul li i {
    color: #262626;
}

.facebook-icon:hover i {
    color: #3b5998;
}

.twitter-icon:hover i {
    color: #00aced;
}

.google-plus-icon:hover i {
    color: #dd4b39;
}

.linkedin-icon:hover i {
    color: #007bb6;
}

.instagram-icon:hover i {
    color: #748da6;
}