@media all and (max-width:550px) {
    section {
        width: 350px;
        height: 350px;
    }
    h3, p, button {
        font-size: 0.8em;
    }
    .btn {
        padding: 0px 12px 5px 0px;
    }
    button {
        padding: 6px 15px;
    }
}

@media all and (max-width:450px) {
    section {
        width: 250px;
        height: 250px;
    }
    h3, p, button {
        font-size: 0.6em;
    }
    p {
        margin: 5px auto 3px auto;
    }
    button {
        padding: 4px 11px;
    }
    section>div:last-of-type {
        padding: 8px 12px 8px 25px;
    }
}